@model InfoModel
@{
    ViewBag.Title = Model.Title;
    Layout = "_BaseStyle";
}
<div>
    <h2 style="margin-top:100px;">@ViewBag.Title</h2>
    <p>
        @Html.Raw(Model.Text)
        На данном сайте вы найдете основные виды музыкальных инструментов и их характеристики. 
        На странице с инструментом,вы можете оставить свой вопрос или общаться. 
        В разделе блог,хранятся статьи о популярных моделях.
        Электронный адрес администрации:houseofsoulsounds@gmail.com.
    </p>
</div>