@model TextField;
@{
    ViewData["Title"] = "Contacts";
    Layout = "_BaseStyle";
}
<h1 style="margin-top:100px;">@ViewData["Title"]</h1>

<div>
    @*@Html.Row(M);*@
</div>
<p>Электронный адрес администрации:houseofsoulsounds@gmail.com.</p>
