
@{
    ViewData["Title"] = "Index";
}

<title>Духовые инструменты</title>
<style>
    .leftimg {
        float: left; /* Выравнивание по левому краю */
        margin: 7px 7px 7px -40px; /* Отступы вокруг картинки */
    }
</style>
<!-- s-content
================================================== -->
<section class="s-content s-content--top-padding s-content--narrow">

    <div class="row narrow">
        <div class="col-full s-content__header">
            <h1 class="display-1 display-1--with-line-sep">About Foix FFG-1038BK </h1>
            <p class="lead">
                ROY BENSON SG-302. Саксофон сопрано Bb изогнутой формы
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-full s-content__main">

            <img src="images/sk.png"
                 class="leftimg" alt="">


            <h2 align="right">Характеристики</h2>

            <p align="right">
                ROY BENSON SG-302 – саксофон сопрано тональности си бемоль (Bb), студенческая модель от немецкого производителя Roy Benson. Это великолепный инструмент с красивым, богатым, насыщенным звуком и эффектным внешним видом. Он подойдет для музыкантов разного уровня мастерства, играющих в любых стилях музыки. Саксофон золотой, с блестящей лакированной отделкой. Изогнутая форма, более характерная для саксофонов альт, делает эту модель удобной для начинающих музыкантов, обучающихся игре на инструменте, в том числе для детей. Корпус и клапана выполнены из латуни. Верхний клапан - F# (фа диез). Пружины - из закаленной стали. Саксофон поставляется в легком футляре с прочной ручкой для переноски и заплечными ремнями, позволяющими носить его за спиной как рюкзак. В комплекте - мундштук, лигатура и колпачок, трость Gonzalez. ROY BENSON SG-302 – прекрасное сочетание цены и качества.
            </p>

            <hr>

            <div class="row block-1-2 block-tab-full">
                <div class="col-block">
                    <h4 class="quarter-top-margin">Who We Are.</h4>
                    <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                </div>

                <div class="col-block">
                    <h4 class="quarter-top-margin">Our Mission.</h4>
                    <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                </div>

                <div class="col-block">
                    <h4 class="quarter-top-margin">Our Vision.</h4>
                    <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                </div>

                <div class="col-block">
                    <h4 class="quarter-top-margin">Our Core Values.</h4>
                    <p>Lorem ipsum Nisi amet fugiat eiusmod et aliqua ad qui ut nisi Ut aute anim mollit fugiat qui sit ex occaecat et eu mollit nisi pariatur fugiat deserunt dolor veniam reprehenderit aliquip magna nisi consequat aliqua veniam in aute ullamco Duis laborum ad non pariatur sit.</p>
                </div>

            </div>

        </div> <!-- s-content__main -->
    </div> <!-- end row -->

</section> <!-- end s-content -->
