@{
    Layout = "_BaseStyle";
    ViewData["Title"] = "Hohner HC06 vs Yamaha C40";
}
<br />
<br />
<br />
<h3>Hohner HC06 vs Yamaha C40</h3>
<p>Говоря о бюджетном варианте классической гитары, первая мысль, приходящая в голову - китайский бренд, специализирующийся на производстве недорогих инструментов. Но именитые компании, выпускающие элитные гитары, также производят модели, доступные широкому кругу потребителя. Сегодня мы поговорим о двух таких гитарах немецкого (Hohner HC06) и японского (Yamaha C40) брендов</p>
<p><img src="~/images/block/c40.jpg" style="margin-left:150px"/></p>
<p>Оба инструмента принадлежат к классу “недорогие фирменные”, оба имеют достоинства, характерные для производителя, оба красивы внешне и обладают глубоким благородным звуком, оба идеально подходят для новичка или ученика музыкальной школы. Какую из этих двух гитар выбрать? Yamaha C40 или Hohner HC06?</p>
<p><img src="~/images/block/hc06.jpg" style="margin-left:150px" /></p>
<p>
    Первое различие между этими двумя моделями - материалы, из которых изготовлены корпуса. Верхняя дека обеих гитар сделана из ели - традиционной породы для классической гитары. Нижняя дека Yamaha C40 изготовлена из цельного куска меранти, а у Hohner HC06 - из двух частей махагона, укрепленных пружиной изнутри и декорированных на месте склейки снаружи. Из тех же материалов - меранти и красное дерево - изготовлены и обечайки. Разные породы дерева дают и разный резонанс: звучание Yamaha C40 более глубокое и насыщенное, Hohner HC06 же может “похвастать” мягкими и теплыми обертонами.

    Для изготовления грифа Hohner HC06 производитель использовал махагон (гриф сконструирован из трех частей, однако же, покрытие лаком полностью скрывает швы и создает впечатление, будто конструкция цельная), гриф Yamaha C40 изготовлен из другой разновидности красного дерева - нато. Обе модели имеют палисандровую накладку, 18 ладов и хромированную колковую механику.

    Для придания инструменту благородного вида, а также для защиты от внешних воздействий (влага, перепады температуры) корпус обеих гитар покрыт специальным лаком, секрет которого у каждого производителя свой. Орнамент вокруг розетки также повышает эстетические свойства инструментов.
</p>
<p><img src="~/images/block/hc061.jpg" style="margin-left:150px"/></p>
<p>
    Так какую же гитару выбрать для новичка? Yamaha C40 или Hohner HC06? Какая из них лучше?

    Ответ прост - решать только вам! Оба этих инструмента - индивидуальны и неповторимы. Кто-то приобретет Yamaha C40 потому, что хочет именно этот бренд, и не имеет значения, что эта модель стоит немного дороже. А кому-то по нраву теплое мягкое звучание Hohner HC06. Обе гитары прекрасно подходят для новичка, обе модели имеют высокое качество для своей стоимости, обе, несомненно, стоят своих денег. Поэтому в вашем выборе между этими двумя инструментами, скорее всего, главным аргументом будут ваши личные предпочтения и пожелания. Но какую из этих двух гитар вы бы ни выбрали, и в том, и в другом случае ваш выбор будет удачным!
</p>