@{
    Layout = "_BaseStyle";
    ViewData["Title"] = "Какие студийные наушники выбрать";
}
<h3 style="margin-top:100px;">Какие студийные наушники выбрать</h3>
<p>Чем студийные наушники отличаются от обычных? Какие наушники лучше подходят для записи аудио, а какие для сведения?

Цель студийных наушников обеспечить нейтральное и честное звучание, не приукрашивая звук. Это крайне важно для студийной работы, особенно для сведения. Важно понимать, что производители обычных наушников, даже дорогих, не ставят перед собой задачи обеспечить честный звук. Наоборот, их задача приукрасить звук так, чтобы он звучал максимально красиво. Как правило, обычные наушники воспроизводят бас и высокие частоты громче, а средние частоты тише. Это сделано для того, чтобы общее звучание было более приятным для слушателя, особенно в шумных помещениях.

Наушники бывают открытые и закрытые</p>
<p>
    <img src="~/images/block/headphone1.jpg" style="margin-left:120px;display:inline-block">
    <img src="~/images/block/headphone2.jpg" style="display:inline-block;" />
</p>
<p>
    Отличие их конструкций состоит в том, что у открытых наушников оборотная сторона вуфера открыта, из-за этого окружающие будут слышать то, что играет в наушниках, а вы будете слышать внешние звуки. Наушники закрытой конструкции не пропускают звук ни наружу, ни внутрь.

    Один тип наушников не лучше и не хуже другого. Считается, что закрытые наушники лучше подходят для записи, а открытые для сведения.
</p>
<p>
    Выбирайте тот тип наушников, который подходят для ваших задач. Перед покупкой обязательно послушайте, как звучит выбранная вами модель. Высокая стоимость наушников не гарантирует их безупречного качества.

    Также очень важно, чтобы вам было удобно в наушниках, ведь вы будете работать в них часами. Некоторые наушники могут быть тяжелыми, неудобными и натирать в процессе работы.

    Рассмотрим несколько вариантов студийных наушников в разных ценовых категориях.
</p>
<h2>
    Закрытые наушники
    <br />
    SENNHEISER HD 280 PRO
</h2>
<p><img src="~/images/block/headphone3.jpg" /></p>
<p>Классические студийные наушники закрытого типа. Довольно долго эта модель остается одной из самых популярных. Если вы хотите купить хорошие, но не очень дорогие наушники это лучший выбор.</p>
<h2>BEYERDYNAMIC DT770 PRO</h2>
<br />
<p><img src="~/images/block/headphone4.jpg" /></p>
<p>Эти закрытые студийные наушники вдвое дороже. Конструкция корпуса интереснее, вес наушников меньше. В то же время они более хрупкие, чем предыдущая модель. Если вы собираетесь брать наушники с собой в путешествие, то это не лучший вариант. Если же наушники будут всегда находиться в студии, эту модель стоит обязательно рассмотреть. Наушники отлично воспроизводят низкие частоты и точно стоят своих денег.</p>
<br />
<h2>SHURE SRH 1540</h2>
<p><img src="~/images/block/headphone5.jpg" /></p>
<p>Это дорогие студийные наушники закрытого типа. Алюминиевый корпус, небольшой вес и безупречное звучание - вот почему эти наушники получают самые лучшие отзывы от профессионалов. Если вы хотите приобрести топовые наушники, это ваш выбор.</p>
<br />
<h2>
    Открытые наушники
    <br />
    BEYERDYNAMIC DT990 PRO
</h2>
<p><img src="~/images/block/headphone6.jpg" /></p>
<p>Открытые студийные наушники для сведения и мастеринга. Я использую именно эти наушники, и с моей точки зрения, это оптимальный вариант для домашней студии. Это очень удобные наушники, которые отлично звучат и прекрасно воспроизводят бас.</p>
<br />
<h2>SENNHEISER HD 650</h2>
<p><img src="~/images/block/headphone7.jpg" /></p>
<p>Еще одна замечательная модель открытых студийных наушников. Если вы любите Sennheiser и хотите купить наушники открытого типа, обязательно рассмотрите HD 650. Это красивые, легкие и удобные наушники, которые нейтрально воспроизводят широкий диапазон частот. Прекрасный выбор для профессионального использования.</p>
<p></p>