@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<br />
<p>цифровых фортепиано от бренда Casio - CDP-S100 и CDP-S350.

<p><img src="~/images/b33df3b3ea429e63ce4ee986f2ea7ff0.jpg" /></p>
<p>
    Инструменты позиционируются как ультракомпактные и умные ("Slim&Smart"), а производители утверждают,
    что на момент выпуска эти пианино были самыми лёгкими и компактными среди цифровых клавишных с молоточковым механизмом.
</p>
<p>
    Помимо прочего инструменты серии Casio CDP-S могут похвастаться обновленным процессором, более чуткой клавиатурой со специальным напылением (белые - под словную кость, черные - под эбонит), а также новым расположением встроенной акустической системы таким образом, чтобы звук, направленный на исполнителя, вместе с эффектом реверберации был действительно ярким и объёмным.



    В комплекте к обеим моделям идет педаль Casio SP-3, пюпитр и адаптеры переменного тока. К Casio CDP-S350 также есть возможность подключать новый педальный блок Casio SP-34 из 3 педалей, который устанавливается на пол и не требует дополнительной консоли. Также дополнительно можно приобрести для любого из инструментов фирменную стойку CS-46P. При этом оба пианино свободно размещаются на любой плоской горизонтальной поверхности, легко транспортируются и могут использоваться как для тренировок в любом удобном месте. Кстати, в инструмент вставляются 6 батарей АА, которые делают инструмент ещё более мобильным и автономным.



    При всей своей компактности, инструменты серии CDP-S - полноценные цифровые пианино с клавиатурой в 88 клавиш. Клавиши несколько уже классических, но это только добавило клавиатуре динамичности и отзывчивости.

    Среди доступных фунцкий и эффектов - хорус и реверберация (в CDP-S100 - 4 режима, в CDP-S350 - 10), библиотека тембров с функцией наложения (в CDP-S100 - 10 тембров, в CDP-S350 - 700), автоаккомпанемент, возможность записи и многое другое.

</p>