@{
    Layout = "_BaseStyle";
    ViewData["Title"] = "Как выбрать студийный микрофон?";
}
<br />
<br />
<h2>Как выбрать студийный микрофон?</h2>
<br />
<br />
<p>Звук голоса и музыкального инструмента будет чистым и четким в записи только в том случае, если правильно выбрать студийный микрофон.</p>
<p>При покупке важно учитывать следующие характеристики:</p>
<ul>
    <li>тип микрофона;</li>
    <li>направленность;</li>
<li>частотный диапазон;</li>
<li>уровень собственного шума;</li>
<li>уровень звукового давления.</li>
</ul>
<br />
<h3>Основные типы студийных микрофонов</h3>
<p>Все имеющиеся в продаже микрофоны можно разделить на два основных типа:
 <ul>
    <li>динамические;</li>
    <li>конденсаторные.</li>
 </ul>
<br />
Из динамических микрофонов для работы в студии больше всего подойдут ленточные модели (Audio-Technica AT4081,Октава МЛ-52-02). В основе этих устройств - тонкая гофрированная пластинка, расположенная между двумя магнитами. Благодаря ей звук передается очень точно. Из-за своей хрупкости ленточный микрофон используется только для студийной записи, а не на сцене.
Конденсаторные микрофоны тоже подходят для звукозаписи. Особенно высоко ценятся их ламповые разновидности. Они дают естественный теплый звук, но стоят достаточно дорого. Многие музыканты справедливо считают, что лучшие студийные микрофоны - это именно ламповые.
</p>
<h3>Направленность микрофон</h3>
<p>Микрофоны с кардиоидной направленностью лучше всего передают звуки инструментов и голоса людей, расположенных перед ними.
Двунаправленные (“восьмерка”) наиболее восприимчивы к звукам двух противоположных источников. Такие подойдут для записи дуэтов.
Всенаправленный микрофон (с круговой диаграммой) будет передавать звуки со всех сторон. Они широко используется для записи фона, звуковой атмосферы.
Если нужна универсальная модель, лучше выбрать студийный микрофон с переключателем направленности.
</p>
<br>
<h3>Диапазон частот и уровень звукового давления</h3>
<p>Максимальный охват частот обеспечит студийный микрофон с диапазоном 20 Гц - 20 кГц. Он не потеряет ни низкие, ни высокие ноты.

Немаловажным показателем при выборе микрофона является уровень звукового давления. Чем он выше, тем более громкие и мощные звуки прибор сможет передавать без искажений.
</p>
<h3>Подбор микрофона с учетом особенностей студии</h3>
<p>Чтобы правильно выбрать студийный микрофон, нужно учитывать сферу его будущего применения. Например, для любительской студии подойдет недорогой конденсаторный Mackie EM-USB (около 10 тысяч рублей). Диапазон устройства составляет 30 Гц – 18 кГц, уровень звукового давления - до 130 дБ. На этом микрофоне предусмотрено гнездо для наушников и специальная ручка для регулировки громкости звука, подаваемого в наушники. Такой микрофон легко подключить к компьютеру для записи подкастов и стримов.

Для большой студиии понадобится более производительная модель, например Neumann TLM (103 93 тысячи рублей). Этот профессиональный студийный микрофон имеет очень широкий диапазон - от 20 Гц до 20 кГц. Кардиоидная диаграмма делает его удобным для записи сольных партий. Микрофон идет в комплекте с креплением “паук” и POP-фильтром.

Еще один студийный микрофон профессионального уровня - LEWITT LCT940 (130 тысяч рублей). Он сочетает характеристики лампового и транзисторного микрофона. Ламповая составляющая придает звуку теплоту и сочность, а транзисторная - высокую точность. Пропорции можно регулировать с помощью ручки “Amplification”. Переключатель направленности позволяет выбирать одну из девяти диаграмм. Этот микрофон разработан специально для студийной записи.

Для оснащения крупной студии понадобятся разные типы микрофонов. Часть из них будет предназначена для записи вокала. Остальные же будут работать с инструментами. Для записи акустических гитар и ударных подойдут парные микрофоны AKG C451B ST (66 тысяч рублей). Они выдерживают высокий уровень звукового давления. С их помощью можно записывать панорамный звук ударной установки.
    </p>