@{
    Layout = "_BaseStyle";
    ViewData["Title"] = "Как выбрать для себя скрипку?";
}
<h2 style="margin-top:30px;" >Как выбрать для себя скрипку?</h2>
<br />
<h3>Мануфактурные скрипки</h3>
<p>Мануфактурные инструменты подойдут для начинающих и тех, кто ещё не определился со своим музыкальным будущим, а играть надо уже сейчас. Они дешевле и есть во многих размерах, так что подобрать подходящий по размеру вашему ребёнку и устраивающий по цене вас инструмент, не составит большого труда. Качественно сработанные и разыгранные, эти инструменты порой не уступают по яркости звучания мастеровым инструментам. Но такой инструмент не может быть слишком дешев. Мануфактурные инструменты зачастую находят для себя интересными и музыканты с многолетним опытом, когда подбирают для себя запасной, второй, основной для игры на открытом воздухе при высокой влажности инструмент или ограничены в средствах на приобретение двух дорогих инструментов.</p>
<p>
    Плюсы мануфактурных инструментов:
    <br />
    <ul>
        <li>доступная цена;</li>
        <li>большой выбор размеров;</li>
        <li>пристойное качество;</li>
        <li>часто инструмент идёт в комплекте с чехлом (футляром), смычком и канифолью;</li>
        <li>бывают инструменты, готовые для игры.
        <li>
    </ul>
    <br />
    Минусы мануфактурных инструментов:
    <br />
    <ul>
    <li>в большинстве случаев струны придётся поменять;</li>
    <li>смычок и чехол, как и другие аксессуары, идущие в комплекте - недорогие варианты, также в идеале покупать отдельно;</li>
    <li>недостаточное богатство тембра</li>
    <li>многие новые инструменты требуют разыгрывания для полноценного раскрытия тембра (потребуется некоторое время).</li>
        </ul>
</p>
<br />
<p>
    На что обратить внимание?
    <br>
    <ul>
   <li> Цена не может быть слишком мала, тем более за комплект, куда входят смычок и чехол. Зачастую, у таких, очень дешевых инструментов, звук весьма скромный в плане красоты, и не многим лучше чем у мебели. Вам же не хочется играть на табуретке?</li>
   <li>Пусть блестящий лак и благородный оттенок не вводят вас в заблуждение: красивый блеск – не значит хорошо звучащий! Если не уверены в себе, возьмите с собой педагога или друга, который поможет вам выбрать достойный вариант, а поверьте, среди них встречаются очень стоящие экземпляры, просто вы по незнанию можете их не разглядеть. Но учтите, что инструмент, в любом случае, будет нуждаться в доработке и приглашать с собой на покупку такого инструмента своего чувствительного друга-меломана не имеет смысла, потому что он не сможет оценить и даже услышать особые грани звука этих инструментов. Зато после разыгрывания и доработки инструмент может зазвучать на зависть иным мастеровым!</li>
    <li>Некоторые фабричные инструменты редко могут похвастаться приличным звуком и тембром (в том числе из-за комплектации самыми дешевыми аксессуарами, струнами).</li>
</ul>
</p>
<br />
   <h3>Мастеровые скрипки</h3>
    <p>Цена мастеровых скрипок выше, чем мануфактурных, но на то есть причины. Здесь уже ручная работа высокого уровня, а значит, дополнительное внимание к деталям, более тонкая техника исполнения инструмента, гарантия качества от его творца.</p>
<br />
    <p>Плюсы мастеровых инструментов:</p>
    <ul>
    <li>богатый тембр за счёт качественного индивидуального подбора материалов и соблюдения всех параметров, и пропорций;</li>
    <li>индивидуальный подход к каждому инструменту;</li>
    <li>высокое качество исполнения;</li>
    <li>хороший звук;</li>
    <li>за изготовление отвечает один человек, дающий гарантию на свою работу и отвечающий за качество изготовления инструмента своим именем.</li>
     </ul>
    <br />
<p>Минусы мастеровых инструментов:</p>
<ul>
    <li>высокая цена;</li>
    <li>часто известное имя, хорошо зарекомендовавшего себя мастера, увеличивает стоимость скрипки;</li>
    <li>если аксессуары не входят в комплект инструмента, то их качество должно соответствовать качеству инструмента, а значит, и они, купленные отдельно, не могут стоить дёшево.</li>
  </ul>
<br />
    <p>На что обратить внимание?
<ul>
    <li>Прежде всего, яркость звука и тембра должны иметь решающее значение. Вы должны послушать со стороны, как звучит ваш будущий инструмент на максимальной и на минимальной громкости, и оба эти критерия должны вас устраивать. Звук на «баске» тоже имеет значение. Педагог и/или друг-меломан помогут оценить вам эти стороны инструмента.</li>
    <li>Пусть  ваш мастер сделает выводы о качестве работы мастера-изготовителя, о том, соблюдены ли необходимые пропорции и какого качества дерево использовалось для изготовления скрипки.</li>
     <li>Если слушаете и пробуете несколько инструментов, то постарайтесь, чтобы все прослушивания происходили в один день, в одном помещении, чтобы вы играли одним и тем же смычком, наканифоленным одной и той же канифолью.</li>
</ul>
</p>