@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Instrument Page";
    Layout = "_BaseStyle";

}

<title>Category</title>
<style>
    .leftimg {
        float: left; /* Выравнивание по левому краю */
        margin: 7px 7px 7px -40px; /* Отступы вокруг картинки */
        
    }
    </style>
<!-- s-content
================================================== -->
<section class="s-content s-content--top-padding s-content--narrow">

    <div class="row narrow">
        <div class="col-full s-content__header">
            <h1 class="display-1 display-1--with-line-sep">About Foix FFG-1038BK </h1>
            <p class="lead">
                Акустическая гитара дредноут с вырезом.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-full s-content__main">
           
                <img src="images/12.jpg"
                    
                     class="leftimg" alt="">
            

            <h2 align="right">Характеристики</h2>

            <p align="right">
                Производитель:Foix<br>
                Наличие выреза:С вырезом<br>
                Материал грифа:Катальпа<br>
                Материал накладки грифа:Пластик<br>
                Звукосниматели:Без звукоснимателя<br>
                Цвет:Черный<br>
                Материал верхней деки:Шпон липы<br>
                Материал нижней деки:Шпон липы<br>
                Материал обечайки:Шпон липы<br>
                Тип струн:Металлические

            </p>

            <hr>

            <div class="row block-1-2 block-tab-full">
                <div class="col-block">
                    <h4 class="quarter-top-margin">___</h4>
                    <p>  Производитель:Foix</p>
                </div>

                <div class="col-block">
                    <h4 class="quarter-top-margin">___</h4>
                    <p> Цвет:Черный</p>
                </div>

                <div class="col-block">
                    <h4 class="quarter-top-margin">___</h4>
                    <p> Звукосниматели:Без звукоснимателя</p>
                </div>

                <div class="col-block">
                    <h4 class="quarter-top-margin">___</h4>
                    <p>Материал грифа:Катальпа</p>
                </div>

            </div>

        </div> <!-- s-content__main -->
    </div> <!-- end row -->

</section> <!-- end s-content -->

