
<style>
    body {
        background:white;
        overflow-y: scroll;
        padding: 0;
        margin: 0;
    }

    .wrapper {
        font-size: 0px;
        padding: 0 calc(5vw - 17px);
        background: #f2f2f2;
    }

    .block {
        width: 20vw;
        height: 20vw;
        display: inline-block;
        margin: 0 5vw;
        margin-top: calc(30vh - 10vw);
        margin-bottom: calc(30vh - 10vw);
    }
        </style>

<div class="wrapper">
    <div class="block">
        <figure class="baha1493">
            <div class="image"><img src="~/images/piano.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
                <h3> Синтезатор</h3>
                <p>
                    Как выбрать электронный клавишный инструмент?
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>

    </div>
    <div class="block">
        <figure class="baha1493">
            <div class="image"><img src="~/images/gutar1.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">21</span><span class="month">Dec</span></div>
                <h3> Акустическая гитара</h3>
                <p>
                    Как и какую гитару выбрать новичку
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <div class="block">
        <figure class="baha1493">
            <div class="image"><img src="~/images/vio.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">06</span><span class="month">Mart</span></div>
                <h3>
                    виолончель
                </h3>
                <p>
                    Правильный выбор виолончели для обучения ребенку

                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <div class="block">
        <figure class="baha1493">
            <div class="image"><img src="~/images/grif-scripki.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">23</span><span class="month">Oct</span></div>
                <h3>Конструкция скрипки</h3>
                <p>
                    Как выбрать скрипку?
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <div class="block">
        <figure class="baha1493">
            <div class="image"><img src="~/images/d_i.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">18</span><span class="month">Oct</span></div>
                <h5>Духовые инструменты - виды и особенности</h5>
                <p>
                    Статья об одном из самых разнообразных семейств музыкальных инструментов в мире
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>

    <div class="block">
        <figure class="baha1493">
            <div class="image"><img src="~/images/baraban.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">12</span><span class="month">Oct</span></div>
                <h3>Как выбрать барабанную установку</h3>
                <p>
                    Различные конфигурации  барабанных установок.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>

    <div class="block">
        <figure class="baha1493">
            <div class="image"><img src="~/images/fleita.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">11</span><span class="month">Dec</span></div>
                <h3> Выбираем первую флейту</h3>
                <p>
                    несколько советов для удачной покупки
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <div class="block">
        <figure class="baha1493">
            <div class="image"><img src="~/images/el_gutar.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
                <h3>Как выбрать правильную электрогитару</h3>
                <p>

                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <div class="block">
        <figure class="baha1493">
            <div class="image"><img src="~/images/bass_gutar.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
                <h3> Выбор басс-гитары</h3>
                <p>
                    Как выбрать бас-гитару?
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

    @*<figure class="baha1493">
            <div class="image"><img src="~/images/12.jpg" alt="ls-sample1" /></div>
            <figcaption>
                <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
                <h3> Foix FFG-1038BK</h3>
                <p>
                    Акустическая гитара дредноут с вырезом.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>2,907</div>
                    <div class="love"><i class="ion-heart"></i>623</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="baha1493 hover">
            <div class="image"><img src="~/images/unnamed2.jpg" alt="ls-sample2" /></div>
            <figcaption>
                <div class="date"><span class="day">17</span><span class="month">Nov</span></div>
                <h3>An Abstract Post Heading</h3>
                <p>

                    Sometimes the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>1,870</div>
                    <div class="love"><i class="ion-heart"></i>973</div>
                    <div class="comments"><i class="ion-chatboxes"></i>85</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="baha1493">
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample3.jpg" alt="ls-sample3" /></div>
            <figcaption>
                <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                <h3>Down with this sort of thing</h3>
                <p>

                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>928</div>
                    <div class="love"><i class="ion-heart"></i>198</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="baha1493">
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample3.jpg" alt="ls-sample3" /></div>
            <figcaption>
                <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                <h3>Down with this sort of thing</h3>
                <p>

                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>928</div>
                    <div class="love"><i class="ion-heart"></i>198</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="baha1493">
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample3.jpg" alt="ls-sample3" /></div>
            <figcaption>
                <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                <h3>Down with this sort of thing</h3>
                <p>

                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>928</div>
                    <div class="love"><i class="ion-heart"></i>198</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="baha1493">
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample3.jpg" alt="ls-sample3" /></div>
            <figcaption>
                <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                <h3>Down with this sort of thing</h3>
                <p>

                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>928</div>
                    <div class="love"><i class="ion-heart"></i>198</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="baha1493">
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample3.jpg" alt="ls-sample3" /></div>
            <figcaption>
                <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                <h3>Down with this sort of thing</h3>
                <p>

                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>928</div>
                    <div class="love"><i class="ion-heart"></i>198</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="baha1493">
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample3.jpg" alt="ls-sample3" /></div>
            <figcaption>
                <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                <h3>Down with this sort of thing</h3>
                <p>

                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>928</div>
                    <div class="love"><i class="ion-heart"></i>198</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="baha1493">
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample3.jpg" alt="ls-sample3" /></div>
            <figcaption>
                <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                <h3>Down with this sort of thing</h3>
                <p>

                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>928</div>
                    <div class="love"><i class="ion-heart"></i>198</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>
        <figure class="baha1493">
            <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/ls-sample3.jpg" alt="ls-sample3" /></div>
            <figcaption>
                <div class="date"><span class="day">01</span><span class="month">Dec</span></div>
                <h3>Down with this sort of thing</h3>
                <p>

                    I don't need to compromise my principles, because they don't have the slightest bearing on what happens to me anyway.
                </p>
                <footer>
                    <div class="views"><i class="ion-eye"></i>928</div>
                    <div class="love"><i class="ion-heart"></i>198</div>
                    <div class="comments"><i class="ion-chatboxes"></i>23</div>
                </footer>
            </figcaption>
            <a href="#"></a>
        </figure>*@



<section class="s-extra">
    <div class="row">

        <div class="col-seven md-six tab-full popular">
            <h3>Popular Posts</h3>

            <div class="block-1-2 block-m-full popular__posts">
                <article class="col-block popular__post">
                    <a href="#0" class="popular__thumb">
                        <img src="~/images/12.jpg" alt="">
                    </a>
                    <h5>Аккустическая гитара с дредноут вырезом.</h5>
                    <section class="popular__meta">
                        <span class="popular__author"><span>By</span> <a href="#0">Стив</a></span>
                        <span class="popular__date"><span>on</span> <time datetime="2018-06-14">Jun 14, 2018</time></span>
                    </section>
                </article>
                <article class="col-block popular__post">
                    <a href="#0" class="popular__thumb">
                        <img src="~/images/unnamed2.jpg" alt="">
                    </a>
                    <h5><a href="#0">Homage LF-3900. Акустическая гитара</a></h5>
                    <section class="popular__meta">
                        <span class="popular__author"><span>By</span> <a href="#0">Джорж Итов</a></span>
                        <span class="popular__date"><span>on</span> <time datetime="2018-06-12">Jun 12, 2018</time></span>
                    </section>
                </article>
                <article class="col-block popular__post">
                    <a href="#0" class="popular__thumb">
                        <img src="~/images/unnamed3.jpg" alt="">
                    </a>
                    <h5><a href="#0">Homage LF-4100.</a></h5>
                    <section class="popular__meta">
                        <span class="popular__author"><span>By</span> <a href="#0">John Doe</a></span>
                        <span class="popular__date"><span>on</span> <time datetime="2018-06-12">Jun 12, 2018</time></span>
                    </section>
                </article>

            </div> <!-- end popular_posts -->
        </div> <!-- end popular -->

        <div class="col-four md-six tab-full end">
            <div class="row">
                <div class="col-six md-six mob-full categories">
                    <h3>Categories</h3>

                    <ul class="linklist">
                        <li><a href="#0">Духовые</a></li>
                        <li><a href="#0">Ударные</a></li>
                        <li><a href="#0">Струнные</a></li>
                        <li><a href="#0">Клавишные</a></li>
                        <li><a href="#0">Смычковые</a></li>
                    </ul>
                </div> <!-- end categories -->

                <div class="col-six md-six mob-full sitelinks">
                    <h3>Site Links</h3>

                    <ul class="linklist">
                        <li><a href="#0">Home</a></li>
                        <li><a href="#0">Categories</a></li>
                        <li><a href="#0">Blog</a></li>
                        <li><a href="#0">Вход</a></li>
                        <li><a href="#0">Регистрация</a></li>
                        <li><a href="#0">About</a></li>
                        <li><a href="#0">Contact</a></li>

                    </ul>
                </div> <!-- end sitelinks -->
            </div>
        </div>
    </div> <!-- end row -->

</section> <!-- end s-extra -->
