@model IQueryable<InstrumentItem>
@{
}
<div>
    @foreach(var item in Model)
    {
        InstrumentItem instrument = new InstrumentItem();
        instrument.Instruments.Select(z => z.Title == item.Title);

    }

</div>